html,
body {
  width: 100%;
  height: 100%;
}
.ldBar {
  border: 1px solid #ccc;
  padding: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  width: 200px;
}
.ldBar svg {
  display: block;
}
.ldBar .ldBar-label {
  display: none;
}
