@import '../vars'
@import '../basic'

.ldBar
  position: relative
  .mainline
    transition(all 1s cubic-bezier(0.5,0,0.5,1))

  rect.mask
    transition(all 1s cubic-bezier(0.5,0,0.5,1))

  .notransition
    transition(none!important)

  &.label-center > .ldBar-label
    position: absolute
    top: 50%
    left: 50%
    transform(translate(-50%,-50%))
    text-shadow: 0 0 3px rgba(255,255,255,1)
.ldBar-label:after
  content: "%"
  display: inline
.ldBar.no-percent
  .ldBar-label:after
    content: ""
